$color-white: #ffffff;
$color-white-whitesmoke: #efefef;
$color-grey-verylightgrey: #cccccc;
$color-grey-nero: #292929;
$color-green-shamrock: #2ECC71;
$color-mantis-green: #82BF56;
$color-apple-green: #669644;

//Usage
$button-background: $color-mantis-green;
$button-border: $color-apple-green;

$input-border: $color-mantis-green;